.my-shuffle-container {
  position: relative;
  overflow: hidden;

  .picture-item {
    margin-left: 0;
    margin-top: 24px;

    .aspect {
      border: 3px solid #191919;
      box-shadow: 0 0 3px #555;
    }

    .picture-item__inner {
      background: #ecf0f1;
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    .picture-item-overlay{
      transition: ease-in .15s;
    }
    &:hover {
      .picture-item-overlay {
        background-color: black;
        opacity: 0.85;
      }
    }
  }
  .aspect {
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
  }

  .aspect--16x9 {
    padding-bottom: 56.25%;
  }

  .aspect--4x3 {

  }


  .aspect>div, .aspect__inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .picture-item img {
    -o-object-fit: cover;
    height: 100%;
    max-width: none;
    object-fit: cover;
  }

  .picture-item img {
    display: block;
    width: 100%;
  }
  .picture-item-hover {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all ease-in .15s;
    opacity: 0;
    &:hover{
      opacity: 1.0;
    }

    .picture-title {
      font-family: ralewaybold, sans-serif;
      font-size: 2em;
      color: white;
      text-shadow: 0 0 1px #ED412D;
      margin-top: 10%;
      @media only screen and (max-width: 761px) and (min-width: 420px){
        font-size: 1.3em;
      }
    }

    .picture-skills {
      font-family: ralewayregular, sans-serif;
      font-size: 1em;
      color: white;
      @media only screen and (max-width: 761px) and (min-width: 420px){
        font-size: 1.1em;
      }
    }

    .learn-more {
      position: absolute;
      bottom: 10px;
      padding: 2% 8%;
      color: white;
      border: 2px solid #E31B6D;
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: 761px) and (min-width: 420px){
        padding: 1.5% 7%;
        font-size: 0.9em;
      }

      &:hover {
        color: white;
        cursor: pointer;
        background-color: #E31B6D;
      }
    }
  }
}

.project-detail-modal {
  background-color: #edf3f8;
  .modal-content {
    background-color: #edf3f8;
  }
  .title {
    font-family: ralewaybold, sans-serif;
    font-size: 2.0em;
    color: #444;
    padding: 0 10px;
  }

  .sub-title {
    font-size: 1.0em;
    color:#999;
    padding: 0 10px;
  }

  .divider {
    height: 1px;
    width: 100%;
    margin: 10px 0 20px 0;
    //border-bottom: 1px solid #e9ecef;
    background: #ddd;
    padding: 0 10px;
  }

  .modal-footer {
    border-color: #ddd;
  }
  .description {
    padding: 0 10px;
  }

  .visit-button {
    background: #007bff;
    color: white;
    padding: 0.375rem 0.75rem;

    &:hover{
      text-decoration: none;
    }
  }
}
