.skill {
  display: flex;
  height: 28px;
  max-width: 100%;
  margin: 0 0 15px 0;
  font-size: 11pt;
  background-color: #eee;
  position: relative;
  overflow:hidden;

  .fill {
    transition: 1.2s 0.2s width ease-in-out;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #00A1A7;
    padding: 0;
    opacity: 1;
    height: 28px;
    margin: 0 0 15px 0;
    font-size: 11pt;
  }

  .tag {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #04C2C9;
    color: #fff;
    height: 100%;
    width: 110px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 992px ) {
      width: 210px;
    }
  }

  span {
    position: absolute;
    display: flex;
    right: 5px;
    z-index: 1;
    padding: 0 15px 0 0;
    line-height: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}