body {
  font-family: ralewayregular, sans-serif;
  background-color: #edf3f8; }

.skype-button-position {
  position: fixed !important;
  left: 20px;
  bottom: 40px;
  z-index: 9999; }
  .skype-button-position .lwc-chat-button {
    position: relative;
    right: 30px; }

.lwc-chat-frame {
  z-index: 9999;
  left: 20px !important;
  right: unset !important; }

.showAfter10Secs {
  animation-name: showUpKeyframe;
  animation-delay: 3s;
  animation-duration: 1s;
  visibility: hidden;
  opacity: 0;
  animation-fill-mode: forwards; }

.hidden {
  display: none; }

@keyframes showUpKeyframe {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }

@keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0); }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #212529, 0 0 80px #212529, 0 0 90px #212529; }

.gree-neon {
  color: #fff;
  box-shadow: 0 0 5px #fff, 0 0 10px #2DA94F; }
  .gree-neon:hover {
    box-shadow: 0 0 5px #fff, 0 0 10px #E31B6D; }

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0); }
  100% {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg); } }

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: translateY(0px); }
  50% {
    box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-20px); }
  100% {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: translateY(0px); } }

.carousel .slide {
  background: white !important; }
