.hover-button {
  padding: 12px 50px 12px 20px;
  position: relative;
  margin-bottom: 20px;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  color: #fff !important;
  line-height: 18pt;
  margin-right: 30px; }
  .hover-button .icon {
    top: 16px;
    transition: transform .3s;
    position: absolute;
    right: 15px;
    vertical-align: middle;
    color: white; }
  .hover-button:hover {
    background-color: #04C2C9;
    border-color: #04C2C9;
    color: white; }
    .hover-button:hover .icon {
      color: white;
      transform: rotate(90deg); }
