.photo-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #444649;
  font-family: ralewaybold, sans-serif; }
  @media only screen and (max-width: 683px) {
    .photo-filter-container {
      flex-wrap: wrap; } }
  .photo-filter-container .filter-option {
    padding: 7px 20px;
    cursor: pointer;
    margin: 10px 15px;
    transition: background 0.5s ease, padding 0.8s linear; }
    .photo-filter-container .filter-option:hover {
      color: white; }
    .photo-filter-container .filter-option.selected {
      color: white;
      background-color: #E31B6D; }
